#evilCanvas {
    
    background-color: #FFFFFF; 
    background-image: url('./assets/floor.png');

    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.introimg {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
  }

body {
    margin: 0;
    background: #282c34;
    overflow: hidden;
}

.intro {
    background: #fbf8e7;
}

#stats {
    font-family: 'Courier New', monospace;
    color: white;
    font-size: 15px;
}

#scores {
    font-family: 'Courier New', monospace;
    color: white;
    font-size: 13px;
}
#scoreRank {
    font-family: 'Courier New', monospace;
    color: white;
    font-size: 13px;
}

#scoren {
    font-family: 'Courier New', monospace;
    color: green;
    font-size: 13px;
}

#carryingn {
    font-family: 'Courier New', monospace;
    color: red;
    font-size: 13px;
}

#carryings {
    font-family: 'Courier New', monospace;
    color: white;
    font-size: 13px;
}