#evilCanvas {
    
    background-color: #FFFFFF; 
    background-image: url('./assets/floor.png');

    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1;
    right: 0;
}

.nela{
    padding-left: 70px;
}

.introimg {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

.startimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

#header {
    font-family: 'Courier New', monospace;
    font-size: 50px;
    text-align: center;
}

body {
    margin: 0;
    background: #282c34;
    overflow: hidden;
}

.intro {
    background: #fbf8e7;
}

#stats {
    font-family: 'Courier New', monospace;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 40px;
}

#scores {
    font-family: 'Courier New', monospace;
    color: white;
    font-size: 25px;
    padding-left: 10px;
}
#scoreRank {
    font-family: 'Courier New', monospace;
    color: white;
    font-size: 25px;
    padding-left: 10px;
}

#scoren {
    font-family: 'Courier New', monospace;
    color: green;
    font-size: 30px;
    font-weight: bold;
}

#carryingn {
    font-family: 'Courier New', monospace;
    color: red;
    font-size: 30px;
    font-weight: bold;
}

#carryings {
    font-family: 'Courier New', monospace;
    color: white;
    font-size: 25px;
    padding-left: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item1 {
    font-family: 'Courier New', monospace;
    padding: 10px;
    font-size: 20px;
    text-align: left;
}

.grid-item2 {
    font-family: 'Courier New', monospace;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    padding-left: 180px;
    padding-right: 50px;
}

.grid-item3 {
    font-family: 'Courier New', monospace;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    padding-left: 50px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

h1 {
    font-family: 'Courier New', monospace;
    font-size: 50px;
    text-align: center;
}

